VM_SERVER_PORT=3000

VM_SECRET=secret

# e.g. sqlite3, postgres, oracledb, mssql, mysql
VM_DB_CLIENT=sqlite3
VM_DB_HOST=127.0.0.1
VM_DB_PORT=5432
VM_DB_NAME=db
VM_DB_USER=user
VM_DB_PASSWORD=password
# filename for sqlite3 db (location relative to .env)
VM_DB_FILENAME=vm.sqlite3
# table name prefix
VM_DB_TABLE_PREFIX="vm_"
